{% extends 'base.html.twig' %}

{% block title %}Gérer les options{% endblock %}

{% block body %}
    <h1>Gérer les options</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td>
                    <a href="{{ path('option_show', {'id': option.id}) }}"class="btn btn-primary">Voir</a>
                    <a href="{{ path('option_edit', {'id': option.id}) }}"class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('option_new') }}"class="btn btn-primary">Créer une nouvelle option</a>
{% endblock %}
